{% extends "layout.html" %}

{% block title %}
{{ stu_data['sid'] }}
{% endblock %}

{% block body %}
<!-- <h1>환영합니다! {{ stu_data['sname'] }}님!</h1> -->
<h1>환영합니다! {{ stu_data[2] }}님!</h1>

<table>
  <tr>
    <th>
      학번
    </th>
    <th>
      이름
    </th>
    <th>
      전공
    </th>
    <th>
      학년
    </th>
    <th>
      지도교수
    </th>
  </tr>
  <tr>
    <!-- {% for item in stu_data %} -->
    <!-- <td>{{ stu_data['sid'] }}</td> -->
    <!-- <td>{{ item }}</td> -->
    <!-- {% endfor %} -->

    <td>{{ stu_data[0] }}</td>
    <td>{{ stu_data[2] }}</td>
    <td>{{ stu_data[4] }}</td>
    <td>{{ stu_data[6] }}</td>
    <td>{{ stu_data[5] }}</td>
  </tr>
</table>

<div>
  <h3>관리자 메뉴</h3>
  <table>
    <tr>
      <th>
        sid
      </th>
      <th>
        phone
      </th>
      <th>
        emal
      </th>
      <th>
        edit/delete
      </th>
    </tr>
    {% for item in con_data %}
    <tr>
      <td>{{ item[0] }}</td>
      <td>{{ item[1] }}</td>
      <td>{{ item[2] }}</td>
      <td>
        <form action="/{{ stu_data[2] }}/contacts/edit" method="POST">
        <!-- <form action="/admin/contacts/edit" method="POST"> -->
          <div class="btn-group">
            <button type="submit" name="phone-num" value= "{{ item[1] }}" class="btn btn-primary modify">EDIT</button>
          </div>
        </form>
      </td>
    </tr>
    {% endfor %}
  </table>
  <form action="/admin/contacts/edit" method="post">
    <div class="btn-group">
      <button class="btn btn-info">+Add New Contact</button>
    </div>
  </form>
  <ul>
    <li>
      <!-- <a href='/{{ stu_data["sid"] }}/credits'>성적 보기</a> -->
      <a href='/{{ stu_data[0] }}/credits'>성적 보기</a>
    </li>
    <li>
      <!-- <a href='/{{ stu_data["sid"] }}/mail'>메일함</a> -->
      <a href='/{{ stu_data[0] }}/mail'>메일함</a>
    </li>
  </ul>
</div>

{% endblock %}
