<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge"> -->
    <title>Spliter</title>
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script>
      $(document).ready(function(){
        $('#split').submit(function(){
          let strings = $('#strings').val();
          $.getJSON("/split", {param1 : strings}, function(data){
            // $("#result").html(data);
            for(let item of data){
              // alert(item)
              $("#result").html($("#result").html() + item + "\n");
            }
          })
          return false;
        });
      });
    </script>
  </head>

  <body>
    <form action="/split" id="split">
      <input id="strings">
      <input type="submit">
    </form>
    <!-- <div id=>
    </div> -->
    <script>
    </script>
  </body>
</html>
