{% extends "layout.html" %}

{% block title %}
{% endblock %}

{% block body %}
<h1><가게이름> 관리 페이지</h1>

<h3>가게 info</h3>

<table>
  <tr>
    <th>태그</th>
    <th>편집</th>
  </tr>
  {% for tag in tag_list %}
    <tr>
      <td>{{ tag }}</td>
      <td>
        <form action="/{{ local }}/store?sid={{ sid }}" method='POST'>
          <input type="hidden" name="sid" value = {{ sid }}>
          <input type="hidden" name="tags" value="null">
          <input type="hidden" name="tag" value={{ tag }}>
          <input type='submit' name="delete_tag" value='삭제'>
        </form>
      </td>
    </tr>
  {% endfor %}
</table>
<form action="/{{ local }}/store?sid={{ sid }}" method='POST'>
  <input autofocus class="form-control" name="added_tag" placeholder="새로운 태그" type="text" value="">
  <input type="hidden" name="sid" value = {{ sid }}>
  <input type="hidden" name="tags" value="null">
  <input type='submit' name="add_tag" value='추가하기'>
</form>

<h3>메뉴 info</h3>

<table>
  <tr>
    <th>메뉴</th>
    <th>변경</th>
  </tr>
  {% for menu in menu_list %}
    <tr>
      <td>{{ menu }}</td>
      <td>
        <form action="/{{ local }}/store?sid={{ sid }}" method='POST'>
          <input autofocus class="form-control" name="after_menu" placeholder="name1" type="text" value={{ menu }}>
          <input type="hidden" name="before_menu" value = {{ menu }}>
          <input type="hidden" name="sid" value = {{ sid }}>
          <input type='submit' name="changeName" value='이름변경'>
          <input type='submit' name="delete" value='삭제'>
        </form>
      </td>
    </tr>
  {% endfor %}
</table>

<form action="/{{ local }}/store?sid={{ sid }}" method='POST'>
  <input autofocus class="form-control" name="added_menu" placeholder="새로운 메뉴" type="text" value="">
  <input type="hidden" name="sid" value = {{ sid }}>
  <input type='submit' name="add" value='추가하기'>
</form>

<h3>주문 info</h3>

<table>
  <tr>
    <th>order id</th>
    <th>status</th>
    <th>주문 확인</th>
  </tr>
  {% for order in order_list %}
    <tr>
      <td>{{ order[0] }}</td>
      <td>{{ order[1] }}</td>
      <td>
        <form action="/{{ local }}/store/order?oid={{ order[0] }}" method='POST'>
          <input type="hidden" name="sid" value = {{ sid }}>
          <input type="hidden" name="order_id" value = {{ order[0] }}>
          <input type='submit' name="check" value='주문 확인'>
        </form>
      </td>
    </tr>
  {% endfor %}
</table>

{% endblock %}
