{% extends "layout.html" %}

{% block title %}

{% endblock %}

{% block body %}
<h1>환영합니다! 고객 {{ info[1][1] }}님! ^0^/</h1>

<h3>personal info</h3>
<table>
  <tr>
    {% for menu in info[0] %}
      <th>{{ menu }}</th>
    {% endfor %}
  </tr>
  <tr>
    {% for i in info[1] %}
      <td>{{ i }}</td>
    {% endfor %}
  </tr>
</table>

<form action="/{{ info[1][3] }}/edit" method="GET">
  <div class="btn-group">
    <button type="submit" name="local" value="{{ info[1][3] }}" class="btn btn-primary modify">EDIT</button>
  </div>
</form>

<h3>주문 내역 (배송 완료 이후)</h3>
<table>
  <tr>
    <th>주문한 가게</th>
    <th>메뉴</th>
    <th>수량</th>
    <th>결제수단</th>
    <th>주문시간</th>
  </tr>
  {% for order in orderComplete %}
    <tr>
      {% for ord in order %}
        <td>{{ ord }}</td>
      {% endfor %}
    </tr>
  {% endfor %}
</table>

<h3>주문 현황 (배송 완료 이전)</h3>
<table>
  <tr>
    <th>주문한 가게 id</th>
    <th>주문한 가게</th>
    <th>메뉴</th>
    <th>결제수단</th>
    <th>주문시간</th>
    <th>주문한 상태</th>
  </tr>
  {% for order in orderWaiting %}
    <tr>
      {% for ord in order %}
        <td>{{ ord }}</td>
      {% endfor %}
    </tr>
  {% endfor %}
</table>

<form action="/{{ info[1][3] }}/order" method="GET">
  <div class="btn-group">
    <button type="submit" class="btn btn-primary modify">새로 주문하기</button>
  </div>
</form>


{% endblock %}
