{% extends "layout.html" %}

{% block title %}
{% endblock %}

{% block body %}
<h1><가게이름>의 관리 페이지</h1>

<h3>oid : {{ menu_info[0] }}주문 list</h3>

<p>주문자:</p>
<p>주소:</p>

<form action="/{{ local }}/store?sid={{ sid }}" method='POST'>
  <table>
    <tr>
      <th>메뉴</th>
      <th>수량</th>
    </tr>
    {% for menu in menu_info %}
      <tr>
        <td>{{ menu[0] }}</td>
        <td>{{ menu[1] }}
      </tr>
    {% endfor %}
  </table>

  <h3>배달원</h3>

  {% for deliver in deliver_info %}
    <input type="hidden" name="did" value={{ deliver[0] }}>
    <input type="hidden" name="order_id" value={{ order_id }}>
    <input type="radio" name="deliver" value={{ deliver[1] }}>{{ deliver[1] }}
  {% endfor %}
  {% if order_status == 'waiting' %}
    <input type='submit' name="accept" value='주문 받기'>
    <input type='submit' name="decline" value='주문 취소'>
  {% endif %}
</form>

{% endblock %}
