{% extends "layout.html" %}

{% block title %}
{% endblock %}

{% block body %}
<form action="/{{ owner }}" method="POST">
  <div class="form-group">
    {% for item in head %}
      <input autocomplete="off" autofocus class="form-control" name="{{ item }}" placeholder="{{ item }}" type="text">
    {% endfor %}
  </div>
  <div class="btn-group">
    <button class="btn btn-primary" type="submit" name="add" value="save">Save</button>
    <button class="btn btn-danger" type="submit" name="cancel" value="cancel">Cancel</button>
  </div>
</form>

{% endblock %}
